<launch>
  <!-- Start the tf_publisher node -->
  <!-- <node pkg="your_tf_package" type="tf_publisher.py" name="tf_publisher" output="screen"/> -->
  <!-- Start the tf_publisher_cpp_node -->
  <node pkg="your_tf_package" type="tf_publisher_cpp" name="tf_publisher_cpp_node"
    output="screen" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="static_tf_publisher_1"
    args="0.068, 0.0116, 0.0168 0 4.71239 0 world body 0.001" />
  <node pkg="tf" type="static_transform_publisher" name="static_tf_publisher_2"
    args="0.068, -0.012, 0.015 0 4.71239 1.5708 body hires 0.001" /> -->
</launch>
